modules = ["nodejs-20", "postgresql-16"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[deployment]
deploymentTarget = "autoscale"
run = ["npm", "run", "start"]
build = ["npm", "run", "build"]

[userenv]

[userenv.shared]
JWT_SECRET = "loja-jwt-secret-mm5sc5pv6gexykvl15m"
ADMIN_JWT_SECRET = "admin-jwt-secret-mm5sc5pvsw4if8ttqo"
NEON_DATABASE_URL = "postgresql://neondb_owner:npg_BHoNiM2s0hPG@ep-polished-resonance-aiplvsp0-pooler.c-4.us-east-1.aws.neon.tech/neondb?sslmode=require"
